# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Project data
# =========================
data/
scr/getting_data/downloaded_files/

# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Personal notes
# =========================
notes/

# =========================
# Temporary / OS files
# =========================
*.log
*.tmp
.DS_Store
Thumbs.db